<footer class="footer container">
    <div class="Sdglogo"><img src="/site/assets/img/SDG2_logo.png"  alt="logosdg" class="uv-logo" /></div></div>
    <div class="EUlogo"><img src="/site/assets/img/EUlogo.png"  alt="EUlogo" class="uv-logo" /></div></div>
    <p class="footer-text">In collaboration with</p>
    <div class="logos-container">
  <img src="/site/assets/img/viko.png" alt="logo_Vilniaus" class="uv-logo" />
  <img src="/site/assets/img/savonia.png"  alt="logo_Savonia" class="uv-logo" />
  <img
  src="/site/assets/img/UPO.png" 
    alt="logo_UPO"
    class="uv-logo"
  />
  <img src="/site/assets/img/Open_logo.png"  alt="logo_Open" class="uv-logo" /></div>

</footer>
{% include scripts.html %}

</body>
</html>
