.site-intro {
  width: 100%;
  margin: 40px 0;
  display: flex;
 .intro {
  flex-basis: 80%;
  margin: auto;

 }
  .description {
    margin-top: 30px;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 0,5px;
    line-height: 5px;
    text-justify: inter-word;
  }

  @media only screen and (min-width: 700px) {
    padding-right: 300px;
    min-height: 180px;

    background: url("../img/SDG Wheel_Transparent-01.png");
    background-position: right 60px  center;
    background-size: 180px;
    background-repeat: no-repeat;
  }
}
