
//Corporate typefaces//

//Upo//

$upo-fontFamily1: "Arial Narrow", Arial, sans-serif;
$upo-fontFamily2: "Franklin Gothic Book", Arial, sans-serif;
$upo-fontFamily3: "Franklin Gothic Demi", Arial, sans-serif;

//Savonia//

$savonia-fontFamily1:'Montserrat', sans-serif;
$savonia-fontFamily2: 'Merriweather', serif;

//Viko//

$Viko-fontFamily-header: "Azo Sans Medium", Arial, sans-serif;
$Viko-fontFamily-subheader : "Azo Sans Light", Arial, sans-serif;
$Viko-fontFamily-subheader : "Azo Sans Light", Arial, sans-serif;
$Viko-fontFamily-bold : "Azo Sans Bold", Arial, sans-serif;

