/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v20-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v20-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v20-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v20-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v20-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
.container, .container-md, .container-sm {
  margin: 0; }
  @media screen {
    .container, .container-md, .container-sm {
      max-width: 100vw; } }

.d-flex {
  background-color: #32c0e3;
  padding: 3px 0; }

.container-image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }
  .container-image img {
    height: 100px;
    margin: 20px 0; }

.navbar-collapse {
  padding-left: 30px; }

.language-toggle-container {
  padding-right: 30px; }

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px; }
  @media only screen and (min-width: 700px) {
    #main-content {
      display: flex;
      flex-direction: column; } }

#search {
  padding-bottom: 0px;
  padding-right: 10px; }
  #search .input-group {
    flex-wrap: nowrap;
    padding-top: 3px; }
  #search input {
    width: 33ch;
    border: 1.25px solid black;
    background-color: #32c0e3; }
  #search button {
    color: white;
    background-color: #1c6d9c;
    border: 1.25px solid #1c6d9c; }

.site-intro {
  width: 100%;
  margin-top: 40px;
  display: flex; }
  .site-intro .description {
    margin-top: 30px;
    font-size: 21px;
    flex-basis: 70%;
    text-align: justify;
    text-justify: inter-word; }
  @media only screen and (min-width: 700px) {
    .site-intro {
      padding-right: 300px;
      min-height: 180px;
      background: url("../img/SDG Wheel_Transparent-01.png");
      background-position: right 60px top;
      background-size: 180px;
      background-repeat: no-repeat; } }

.container, .container-md, .container-sm {
  margin: 0; }
  @media screen {
    .container, .container-md, .container-sm {
      max-width: 100vw; } }

.d-flex {
  background-color: #32c0e3;
  padding: 3px 0; }

.container-image {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }
  .container-image img {
    height: 100px;
    margin: 20px 0; }

.navbar-collapse {
  padding-left: 30px; }

.language-toggle-container {
  padding-right: 30px; }

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px; }
  @media only screen and (min-width: 700px) {
    #main-content {
      display: flex;
      flex-direction: column; } }
