
//Boton para descargar los datos//

.btn-download { 
    background-color: $button-background !important;
  }
//Controlar el color cuando pasas el raton//
.btn-download:hover{
    background-color: $button-backgroundc !important;
}

//Centrado los botones//

#chartSelectionDownload, #tableSelectionDownload {
  text-align: center;
  display: block;
}
